.button{

    border: none;
    outline: none;
    padding-inline: 1.25rem;
    padding-block: 0.65rem;
    border-radius: 0.8rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    font-size: 0.85rem;
    font-weight: 500;

    @media (min-width: 480px) {
        padding-inline: 1.5rem;
        padding-block: 0.75rem;
        font-size: 0.9rem;
    }

    @media (min-width: 768px) {
        padding-inline: 1.5rem;
        padding-block: 0.75rem;
        border-radius: 1rem;
        font-size: 0.95rem;
    }

    &.primary-button{
        background-color: #e1034d;
        color: white;

        &:hover {
            background-color: #ff2d78;
            transform: translateY(-1px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        }
    }

    &:active{
        transform: scale(0.98);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        transform: none;
    }
}